/*
.studio-art {
    padding-bottom:5em; 
}
*/

.studio-art img {
    width: 90%;
    margin: 0 auto;
    padding-left: 5%;
    padding-bottom: 5%;
    
}


@media only screen and (min-width:660px) {
/*
    .studio-art .individual-artwork .banner{
        flex-direction: column;
    }
*/
    
    
    
    
    
}
