.container {
    height: 1543.16px;
}

.box {
    width:599px;
    height: 1600px;
    margin: 0 auto;
}


h2 {
    padding-top: 52px;
    text-align: left;
    color: #242424;
    font-size: 50px; 
}

.color-wheel {
    display: flex;
    margin: 0 auto;
    margin-top: 57px;
    align-items: flex-end;
    height: 371px;
    width: 371px;
    max-height: 371px;
    max-width:  371px;
    margin: 59px auto 0px;
    position: relative;
}

.color-wheel img{
    height: 100%;
    width: 100%;
}

#primarytriangle {
    position: absolute;
    width: 50%;
    left: 25%;
    top: -5%;
    visibility: hidden;
}

.visible {
    visibility: visible !important;
}


.colorwheel {
    display: flex;
    flex-wrap: wrap;
    height: 34px;
    width: 34px;
    color:#242424;
    background-color: aqua;
    border-radius: 50%;
    margin-left: 566px;
    margin-top: 395px;
}

#colorwheel-button {
    height:43.25px;
    width: 121.85px;
    display: flex;
    flex-wrap: wrap;
    height: 34px;
    width: 34px;
    color:#242424;
    background-color: #242424;
    border-radius: 50%;
    align-items: baseline;
    margin-left: 459px;
    margin-top: -30px;
    position: relative;
    z-index: 99;
}

#colorwheel-button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.info {
    margin-top: 23px;
    font-size: 17px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
}


h3 {
    margin-top: 33px;
    font-size: 29px;
}

.mix {
    display: flex;
    flex-wrap: wrap;
    margin-left: 12.5px;
    margin-right: 12.5px;
}

.mixing-colors {
    margin-top: 57px;
    height: 84px;
    width: 121px;
    border-radius: 25px;
    border-style: solid;
    border-color: #242424;
}

#red {
    background-color: #EE3323;
    display: flex;
}

#yellow {
    background-color: #F7EB20;
    display: flex;
}

#blue {
    background-color: #3C57A6;
    display: flex;
}

#orange {
    display: relative;
}

#orange:hover {
    cursor: pointer;
}

#green:hover {
    cursor: pointer;
}

#violet:hover {
    cursor: pointer;
}

.plus {
    font-size: 41px;
    margin-left: 31.5px;
    margin-right: 31.5px;
    margin-top: 77px;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.equals {
    font-size: 41px;
    margin-left: 31.5px;
    margin-right: 31.5px;
    margin-top: 77px;
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-style: normal;
}

.click-me {
    font-size: 27px;
    text-align: center;
    display: absolute;
}


/*
.color {
    height: 117.43px;
    width: 127.26;
    margin-left: 20px;
    margin-bottom: 20px;
    color:deeppink;
    background-color: aqua;
}
*/

.link {
    height: 43.25px;
    width: 121.85px;
    color:deeppink;
    background-color: aqua;
    margin-left: 20px;
}

.congrats {
    font-size: 17px;
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 72px;
    margin-bottom: 20px;
}












