* {
    margin: 0;
    padding: 0;
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.box {
    width:599px;
    margin: 0 auto;
    background-color: white;
}

.header {
    height: 126px;
    width: 768;
    background-color: #242424
}

h1 {
    text-align: center;
    padding-top: 27px;
    color: white;
    font-size: 50px;
}

.rainbowcircles {
    margin-left: 252px;
    margin-top: -12px;
}


.individual-buttons {
    display: block;
    width: 127px;
    margin-top: 17px;
    font-size: 16px;
    text-align: center;
    border-radius: 17px;
    border-style: solid;
    border-color: #242424;
    border-width: 4px;
    color: #242424;
    text-decoration: none;
    padding: 7px 0px;
}

.different-page {
    display: flex;
/*    flex-wrap: wrap;*/
    padding-top: 15px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.circles {
    max-height: 662px;
    max-width: 768px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}

.circles img{
    height: 100%;
    width: 100%;
}


.colorwheel1 {
    max-height: 478px;
    max-width:  478px;
    margin: -550px auto 183px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.colorwheel1 img{
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 219px;
    margin-top: -570px;
    margin-left: 273px;
    position: absolute;
}

.text h2 {
    font-weight: 900;
    font-size: 68px;
    line-height: 87px;
}











