* {
    margin: 0;
    padding: 0;
}

.container {
    width: 768px;
    height: 1024px;
    margin: 0 auto;
    background-color: white;
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-style: normal; 
}

.box {
    width:599px;
/*    height:980px;*/
    margin: 0 auto;
    background-color: floralwhite;
}

.header {
    height: 126px;
    width: 768;
    background-color: #242424
}

h1 {
    text-align: center;
    padding-top: 27px;
    color: white;
    font-size: 50px;
}

.buttons {
    display: flex;
/*    flex-wrap: wrap;*/
    height: 57px;
/*    width: 134px;*/
/*    margin: 0 auto;*/
    background: #242424;
    
}

.individual-buttons {
    display: block;
    height: 57px;
    width: 134px;
    margin-right: 20px;
    margin-top: 17px;
    font-size: 15px;
    text-align: center;
    border-radius: 17px;
    border-style: solid;
    border-color: #242424;
    color: #242424;
}

.different-page {
    display: flex;
/*    flex-wrap: wrap;*/
    margin-top: 17px;
    margin-left: 84.5px;
    margin-right: 84.5px;
    height: 57px;
}

.circles {
    max-height: 662px;
    max-width: 849.44px;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}

.circles img{
    height: 100%;
    width: 100%;
}


.colorwheel1 {
    max-height: 478px;
    max-width:  478px;
    margin: -550px auto 183px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.colorwheel1 img{
    height: 100%;
    width: 100%;
}

.text {
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;
    text-align: center;
    font-size: 70px;
    width: 219px;
    margin-top: -600px;
    margin-left: 175px;
    line-height: 120px;
    position: absolute;
}











